header{
  position: fixed;
  width: 100%;
}
nav{
  height: 100px;
  background-color: #2C3E50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
  font-family: 'Montserrat', sans-serif;
  transition: height 0.5s;
}
nav > div > a{
  color: white;
  text-decoration: none;
}
.header-in{
  height: 70px;
}
.logo{
  font-size: 25px;
  font-weight: 800;
}
.menu{
  display: flex;
  justify-content: space-between;
  width: 25%;
  font-weight: bold;
  font-size: 14px;
}
.menu a:hover{
  color: #18bc9c;
}
.container-jade{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.5em;
}
#start{
  height: 500px;
  padding: 12% 0 4% 0;
}
#start h1{
  font-size: 4em;
}
#start span{
  font-size: 25px;
  margin: 10px;
}
.size-star{
  font-size: 25px;
}
.linea{
  border: 2px solid white;
  width: 100px;
  margin: 11px 5px;
}
.line-dark{
  border: 2px solid #2C3E50;
  width: 100px;
  margin: 11px 5px;
}
#portfolio{
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galery{
  text-align: center;
}
.h1-gris{
  color: #333;
}
.picture{
  width: 25%;
  height: 25%;
  margin: 20px;
  cursor: pointer;
}
#about{
  height: 400px;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 6%;
}
#about div p{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}
.download{
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#about a:hover{
  color: #18bc9c;
  background-color: white;
}
.star-dark{
  color: #2C3E50;
}
footer i{
  width: 45px;
  height: 30px;
  border: 2px solid #FFF;
  border-radius: 100%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}
footer i:hover{
  color: #18bc9c;
  background-color: white;
  cursor: pointer;
}
footer p{
  font-size: 20px;
}
footer h2{
  margin-bottom:40px;
}
footer{
  color: white;
  display: flex;
  flex-direction: column;
}
.footer_above{
  background-color: #2C3E50;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 250px;
  padding: 0 6%;
}
.footer_bellow{
  background-color: #233140;
  padding: 10px;
  text-align: center;
}
.col-4 p a{
  color: #18bc9c;
  text-decoration: none;
}
.col-4 p a:hover{
  text-decoration: underline;
}
#freelancer{
  margin-top: 40px;
}
